body {
	background: black;
}
/* * {
	border: 1px dashed red;
	min-height: 10px;
}
*/
#myImage {
	z-index: -2;
	width: 400px;
	height: 300px;
	object-fit: contain;
}
p {
	color: blue;
	font-family: "Dancing Script", cursive;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	background-image: url("https://raw.githubusercontent.com/LCLobe/Postcard/754af2753c09c569e65a77deaad7a75e0d6c7661/Muse%20Printables%20Pinterest.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
.postcard-header {
	display: flex;
}
.postcard-body {
	display: flex;
}
.postcard-footer {
}
.postcard-header img {
	width: 70px;
	height: 70px;
	margin-right: 10px;
	margin-top: 10px;
}
.postcard-header h1 {
	width: 350px;
	margin: 0;
	font-family: "IM Fell English", serif;
	margin-left: 80px;
	margin-top: 5px;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
.body-left {
	margin-left: 5px;
}
input {
	border: none;
	border-bottom-color: gainsboro;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
.postcard-footer {
	text-align: right;
	margin-right: 30px;
}
button {
	background-color: rgb(190, 190, 190);
	padding: 5px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-top-color: gainsboro;
	border-left-color: gainsboro;
	border-right-color: black;
	border-bottom-color: black;
}
button:active {
	border-top-color: black;
	border-left-color: black;
	border-right-color: gainsboro;
	border-bottom-color: gainsboro;
}
button:hover {
	text-decoration-line: underline;
}
input,
button {
	font-family: "IM Fell English", serif;
}
